<div class="header-bar">
  <%= link_to "", root_path, class: "fas fa-home fa-3x" %>
  <%= link_to image_tag("githublogowhite.png", class: "githublogo"), "https://github.com/GitNikko", class: "githublogo" %>
</div>
